<header class="header">
    <div class="logo">
        <a routerLink="home"><img class="img-logo" src="../../assets/imagenes/logo.png" alt=""></a>
    </div>
    <input type="checkbox" id="toggle">
    <label for="toggle">
        <img class="menu" src="../../assets/imagenes/menu.svg" alt="menu">
    </label>

    <nav class="navigation">
        <ul>
            <li><a routerLink="home"><b>home</b></a></li>
            <li><a routerLink="productos"><b>Productos</b></a></li>
            <li><a routerLink="contacto"><b>Contacto</b></a></li>
        </ul>
    </nav>
</header>