<header>
    <div class="logo">
        <figure>
            <a href=""><img src="" alt="" /></a>
        </figure>
        <p class="nombrelogo">
            <span><a href="" class="tituloLogo"><b>TITULO</b></a></span>
            <span><a href="" class="tituloLogo">TITULO</a></span>
        </p>
    </div>
    <nav>
        <div class="barraDeNavegacion">
            <ul>
                <li>
                    <a routerLink="home" class="elementosDeNav"><b>Home</b></a>
                </li>
                <li>
                    <a routerLink="productos" class="elementosDeNav"><b>Productos</b></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
