.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FF5722;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 10%;
}
.logo .img-logo{
    width: 140px;
    
}
.navigation ul{
    list-style: none;
}

.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px; 
    display: block;
    transition: all .2s ease;
    text-transform: capitalize;
}

.header .navigation ul li a:hover{
    color: black;
}

#toggle, .header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 45px;
    height: 35px;
}

@media (max-width: 950px){
    .header label{
        display: initial;
    }
    .header{
        padding: 20px 10%;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF5722;
        display: none;
    }
    .header .navigation ul li {
        width: 100%;
    }
    .header .navigation ul li a{
        padding: 8px 30px 8px 10%;
    }
    
    #toggle:checked ~ .navigation{
        display: block;
        text-align: center;
    }
}   