<div class="container">
    <h1>Galería de Productos</h1>
    <div class="search-container">
        <input type="text" placeholder="Buscar productos..." [(ngModel)]="searchData" (keyup)="getFilteredProduct()">

    </div>
    <div class="container-cards" id="productGrid">
        <ng-container *ngIf="searchData !== ''">
            <app-card *ngFor="let product of filteredData" [product]="product"></app-card>
        </ng-container>
        <ng-container *ngIf="searchData === ''">
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
            <app-card *ngFor="let product of productos" [product]="product"></app-card>
        </ng-container>
    </div>
    <span class="loader" *ngIf="loader"></span>
</div>
