.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: orangered;
}

.contenido h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contenido p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff7043;
} 

.container{
    margin-top: 130px;
    
}
.slider-frame {
    width: 80%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
    position: relative;
 
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    border-radius: 15px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.container-cosas {
    padding: 20px;
    width: 80%;
    justify-content: center;
    margin: 0 auto 0;
}

.fila {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ofer, .elegir {
    flex: 1;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.ofer h2, .elegir h2{
    text-align: center;
    margin-bottom: 20px;
}
.unete {
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.unete h2{
    margin-bottom: 20px;
}
.unete .btn{
    margin-top: 16px;
}

@media (min-width: 768px) {
    .fila {
        flex-direction: row;
        justify-content: space-between;
    }

    .ofer, .elegir {
        max-width: 48%;
    }

    .unete {
        width: 100%;
    }
}